body{
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* overflow: hidden; */
  overflow-x: hidden;
  font-family: monospace;
  background-color: rgb(48, 44, 43);
  margin: 0;
}
.app-container{
background-color: white;
display: flex;
/* justify-content: center; */
align-items: center;
box-sizing: border-box;
flex-direction: column;
width: 80vw;
min-height: 80vh;
border-radius: 50px;
gap: 10px;


}

.inline-error-message{
  color: red;
  font-size: 15px;
}
.row-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  
}
.task-input{
  margin: 2%;
  padding: 10px;
  border-radius: 10rem;
  outline: none;
  border: 0;
  border: 1.5px solid rgb(32, 8, 57);
  width:40%;
}

.task-container{
  background-color: rgb(239, 239, 231);
  border-radius: 10rem;
  width: 60%;
  min-height: 40%;
  justify-content: left;
}
.add-btn{
  margin-left: 2px;
  min-width: 60px;
  min-height: 30px;
  border-radius: 15px;
  box-sizing: border-box;
  border:1.5px solid rgb(32, 8, 57); ;
}
.add-btn:hover{
 background-color: rgb(37, 41, 49);
  color: white;
  cursor: pointer;
}
input[type="checkbox"]{
margin: 0;
padding: 0;
width: 10%;
}
.delete-btn{
  min-width: 10%;
  min-height: 10%;
  border-radius: 15px;
  box-sizing: border-box;
  border:1.5px solid rgb(32, 8, 57); ;
}
.delete-btn:hover{
  background-color: rgb(37, 41, 49);
  color: white;
  cursor: pointer;
}
#task-content{
  padding: 10px;
  width: 65%;
  overflow-wrap: break-word;
  word-break: break-word;
}


.login-container{
  background-color: white;
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
flex-direction: column;
width: 70vw;
min-height: 80vh;
border-radius: 30px;
gap: 10px;
}
.login-btn{
  min-width: 15%;
  height: 4vh;
  border-radius: 20px;
  box-sizing: border-box;
  border:1.5px solid rgb(32, 8, 57); ;
}
.login-btn:hover{
  background-color: rgb(37, 41, 49);
  color: white;
  cursor: pointer;
}

.login-input{
  margin: 2%;
  padding: 10px;
  border-radius: 10rem;
  outline: none;
  border: 0;
  border: 1.5px solid rgb(32, 8, 57);
  width:50%;
}
.logout-btn{
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .login-container{
    /* width: 80vw; */
    min-width: 350px;
    
    
    
  }
  input{
    width: 100%;
  }
  .app-container{
    width: 80vw;
  }
}
@media screen and (min-width: 921px) {
  .login-container{
    font-size: 150%;
    width: 80vw;
    max-width: 800px;
    
  }
  input{
    max-width: 700px;
  }
  .task-container{
    /* max-width: 400px; */
  }
  .app-container{
    max-width: 700px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
  }
}